@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');

:root{
    /* Font family */
    --font-family: 'Inria Sans';

    /* Font colors */
    --background-color: #fff;
    --background-almost-white: #ebecf4;
    --text-color: #000;
    --text-shadow-color: #808080;

    /* Font sizes */
    --size-title: 2rem;
    --size-h1: 1.5rem;
    --size-h2: 1.3rem;
    --size-label-form: 1.1rem;
    --size-card-title: 1rem;
    --size-grid: 0.9rem;

    /* Div colors */
    --box-shadow-color: #00000033;
}

/* Estilos padrão -------------------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body{
    overflow-x: hidden;
    font-family: var(--font-family, sans-serif);
}

.content{
    width: 100%;
    background-color: var(--background-color);
    background-image: url('../images/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* Square-content ---------------- */
.square-content{
    padding: 2%;
    background-color: var(--background-color);
    border-radius: 20px;
    height: auto;
    box-shadow: 2px 2px 2px 1px #00000033;
}

.square-content h1{
    font-size: var(--size-h1);
    color: var(--text-color);
    text-shadow: 1px 0.5px 2px var(--text-shadow-color);
    margin: 15px auto 30px auto;
}

.square-content--cadastro{
    width: 70%;
    margin: 11vh;
}

/* Listar ---------------------- */
.square-content--listar{
    width: 95%;
    margin: 11vh;
}

.btn-list-editar{
    margin-top: 30px;
}

.align-content{
    display: flex;
    /* Alinha ao centro horizontalmente */
    justify-content: center;
    /* Alinha ao centro verticalmente */
    align-items: center;
}

.button-white-blue{
    color: #2424ff;
    background-color: var(--background-color);
    box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    border: 1px solid var(--box-shadow-color);
    border-radius: 8px;
    text-decoration: none;
    display: block;
}

/* Icons */
.material-symbols-outlined {
  font-size: 30px !important;
  margin-top: 8px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}


/* Forms ------------------------------------------------------------------------------------- */
.form-check-input[type=checkbox] {
    border: 1px solid #bdc1c5 !important;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}

b{
    color: #ff0000;
}

.col-btn-form{
    display: flex;
}

.col-btn-form .btn-primary{
    margin: 0 2% !important;
}

.row-pesquisar .form-control{
    border-radius: 8px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.row-pesquisar .btn-primary{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.row-pesquisar.g-3{
    --bs-gutter-x: 0rem !important;
    margin-bottom: 15px;
}

.row-pesquisar{
    width: 50%;
    margin: 50px auto !important;
}

/* Login ------------------------------------------------------------------------------------- */

.square-content--login{
    min-width: 30%;
}

img.login-logo{
    display: block;
    margin: 5vh auto;
    width: 200px;
}

.login-link{
    width: 100%;
    margin-bottom: -15%;
}

a.login-link{
    color: #000;
    text-decoration: underline;
    margin: 8vh auto;
}

.mb-3{
    font-size: var(--size-label-form);
}

.btn-giga{
    width: 100% !important;
}

.btn{
    text-align: center !important;
}

/* Logout ---------------------------------------------------------------------------------  */

.leave{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.leave a{
    color: #FFF;
    font-size: 1.2rem;
    text-decoration: none;
}

.leave img{
    width: 28px !important;
}

.leave input{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 1.2rem
}

.leave .material-symbols-outlined{
    color: #fff !important;
    font-size: 15px !important;
}


/* Opcções --------------------------------------------------------------------------------- */
.align-content img{
    width: 60%;
}

.square-content--opcoes{
    text-align: center;
    padding: 5%;
}

.square-content--opcoes h2{
    color: var(--text-color);
    text-shadow: 1px 0.5px 2px var(--text-shadow-color);
    font-size: var(--size-h2);
}

.button-white-blue--opcoes{
    margin: 30px 0px auto;
    padding: 10px;
    width: 200px;
}


/* Menu ---------------------------------------------------------------------------- */
.square-content--menu{
    width: 85%;
    min-width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
}

@media(max-width: 770px){
    .square-content--menu{
        width: 350px;
    }
}

.item-circle{
    border-radius: 50%;
    background-color: #FFE500;
    text-align: center;
}

@media(max-width: 770px){
    .square-content--menu-item{
        width: 200px;
    }
}

.square-content--menu-item{
    width: 240px;
    min-width: 200px;
    margin: 30px 20px;
    min-height: 150px;
    padding: 15px;
}

.square-content--menu-item h2{
    font-size: var(--size-card-title);
    margin: 25px 0;
}

.button-white-blue--menu-item{
    background-color: var(--background-almost-white);
    min-width: 100px;
    margin: 0 auto;
}

/* Errors -------------------------------------------------------------------------- */

.square-content--error{
    width: 500px;
    margin-top: 145px;
    text-align: center;
}

.error-text{
    margin-top: 90px;
}

.square-content--error h1{
    font-size: var(--size-title) !important;
    margin: 10px;
}

.square-content--error p{
    font-size: var(--size-h1) !important;
}

.img_error{
    width: 350px !important;
    position: absolute;
    margin: 0 auto;
    top: 160px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Users --------------------------------------------------------------------------- */

/* Identificação --------------- */
.usuario{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px 6px;
}

.usuario p{
    color: #fff;
    margin-top: 13px;
}

.usuario .material-symbols-outlined{
    color: #fff !important;
    font-size: 1.9rem !important;
    margin-left: 10px;
}


/* Index ----------------------- */
.hide{
    display: none;
}

.show{
    display: block;
}

.user-index{
    display: block;
    width: 100%;
}

.user-index h1{
    color: var(--background-color);
    margin: 10vh 0;
}

.item-circle--user{
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.button-white-blue--menu-item-user{
    width: 50%;
    height: 25px;
}

/* Grids */
.row{
    margin: 5px 0;
}

.row p{
    margin: 0;
}

.row-hover:hover{
    background-color: var(--background-almost-white);
}

.row-title{
    margin-bottom: 15px;
}

.col{
    width: 14.2%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.col-title{
    color: var(--text-color);
    font-weight: 700;
    text-transform: capitalize;
    font-size: var(--size-grid);
}

.col-text{
    color: var(--text-color);
    text-transform: capitalize;
    font-size: var(--size-grid);
}

.col-text img{
    width: 20px;
}

.col-mail{
    color: var(--text-color);
    text-transform: lowercase;
    font-size: var(--size-grid);
}

/* List-editar --------------- */
.grid-list a{
    text-decoration: none;
}

.grid-list .material-symbols-outlined{
    font-size: var(--size-label-form) !important;
}

/* List-excluir -------------- */
.content-list-excluir button{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
}

.square-content--confirma-excluir{
    width: 50%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
    align-content: center;
    border: 0 !important;
}

#modal_excluir{
    display: none;
}

dialog::backdrop{
    background-color: #35353559;
}

.square-content--confirma-excluir button, .square-content--confirma-excluir a{
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.square-content--confirma-excluir a{
    background-color: #ff0000;
}

.square-content--confirma-excluir .material-symbols-outlined{
    color: #ff0000 !important;
    font-size: 2.5rem !important;
}

.square-content--confirma-excluir button{
    background-color: #2424ff;
}

.buttons-dialog{
    width: 100%;
}

.p-dialog{
    width: 100%;
}

/* List-desativar --------------------- */
.row-activated p{
    color: var(--text-color);
}

.row-inactivated p{
    color: var(--text-shadow-color);
}


/* Pacientes ---------------------------------------------------------------------------- */

/* Paginação ----------------------- */
.pagination-container {
    margin: 0 auto;
}

.pagination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page1 {
    display: flex;
}
.prev-btn, .next-btn{
    cursor: pointer;
    border: none !important;
    margin: 20px !important;
}

.btn:disabled{
    border: none !important;
}
  

/* Menu ------------------------- */

.square-content--menu-item{
    width: 240px;
    min-width: 200px;
    margin: 30px 20px;
    min-height: 150px;
    padding: 15px;
}

.square-content--menu-item-p .material-symbols-outlined{
    font-size: 34px !important;
}

.square-content--menu-item img{
    width: 34px;
    margin-top: 5px;
}

.item-circle--paciente{
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.button-white-blue--menu-item-paciente{
    width: 80%;
}