@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap');

:root{
    /* Font family */
    --font-family: 'Inria Sans';

    /* Font colors */
    --background-color: #fff;
    --background-almost-white: #ebecf4;
    --background-greener: #78a82a;
    --background-green: #85bb2e;
    /* --background-primary2: #428ae9; */
    --background-primary: #0092df;
    --background-primarier: #017ec2;
    --background-error: #ff0000;
    --background-errorer: #d60101;
    --background-most-primary:#131399f;
    --text-color: #000;
    --text-shadow-color: #808080;

    /* Font sizes */
    --size-title: 2rem;
    --size-h1: 1.5rem;
    --size-h2: 1.3rem;
    --size-label-form: 1.1rem;
    --size-card-title: 1rem;
    --size-grid: 0.9rem;

    /* Div colors */
    --box-shadow-color: #00000033;
}

/* Estilos padrão -------------------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

body{
    overflow-x: hidden;
    font-family: var(--font-family, sans-serif);
}

.content{
    width: 100%;
    background-color: var(--background-color);
    background-image: url('../images/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

/* Square-content ---------------- */
.square-content{
    padding: 2%;
    background-color: var(--background-color);
    border-radius: 20px;
    height: auto;
    box-shadow: 2px 2px 2px 1px #00000033;
}

.square-content h1{
    font-size: var(--size-h1);
    color: var(--text-color);
    text-shadow: 1px 0.5px 2px var(--text-shadow-color);
    margin: 15px auto 30px auto;
}

.square-content--cadastro{
    width: 70%;
    margin: 11vh;
}

/* Listar ---------------------- */
.square-content--listar{
    width: 95%;
    margin: 11vh;
}

.btn-list-editar{
    margin-top: 30px;
}

.align-content{
    display: flex;
    /* Alinha ao centro horizontalmente */
    justify-content: center;
    /* Alinha ao centro verticalmente */
    align-items: center;
}

.button-white-blue{
    color: var(--background-primary);
    background-color: var(--background-color);
    box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    border: 1px solid var(--box-shadow-color);
    border-radius: 8px;
    text-decoration: none;
    display: block;
}

/* Icons */
.material-symbols-outlined {
  font-size: 30px !important;
  margin-top: 8px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

/* Textinhos */
.textinho{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}


/* Forms ------------------------------------------------------------------------------------- */

.form-check-input[type=checkbox] {
    border: 1px solid #bdc1c5 !important;
}

.form-check-input:checked {
    background-color: #0d6efd !important;
    border-color: #0d6efd;
}

b{
    color: var(--background-error);
}

.btn-primary-confirm{
    background-color: var(--background-green);
    color: var(--background-color);
}

.btn-primary-confirm:hover{
    background-color: var(--background-greener);
    color: var(--background-color);
    cursor: pointer;
}

.btn-primary-darker, .btn-primary-darker:hover{
    background-color: var(--background-primary-darker);
    color: var(--background-color);
}

.btn-primary-error{
    background-color: var(--background-error);
    color: var(--background-color);
}

.col-btn-form{
    display: flex;
}

.col-btn-form .btn-primary{
    margin: 0 2% !important;
}

.row-pesquisar .form-control{
    border-radius: 8px;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.row-pesquisar .btn-primary{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.row-pesquisar.g-3{
    --bs-gutter-x: 0rem !important;
    margin-bottom: 15px;
}

.row-pesquisar{
    width: 50%;
    margin: 50px auto !important;
}

.label_check{
    font-size: var(--size-card-title) !important;
}

/* Sumir os campos */
#input_show, #input_show2, #input_show_double, #input_show_double2, #input_show_multiple,  #input_show_multiple2, #input_show_multiple3, #input_show_multiple4, #input_show_multiple5, #input_show_multiple6, #input_show_multiple7, #input_show_multiple8{
    display: none;
}

/* Olinho pra senha */
.password-container {
    position: relative;
}

.show-password {
    position: absolute;
    top: 62%;
    right: 17px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px !important;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}  

.popup-icon{
    font-size: var(--size-h2) !important;
    color: #555;
    margin-top: -20px;
}

/* Login ------------------------------------------------------------------------------------- */

.square-content--login{
    min-width: 30%;
}

img.login-logo{
    display: block;
    margin: 5vh auto;
    width: 200px;
}

.login-link{
    width: 100%;
    margin-bottom: -15%;
}

a.login-link{
    color: #000;
    text-decoration: underline;
    margin: 8vh auto;
}

.mb-3{
    font-size: var(--size-label-form);
}

.btn-giga{
    width: 100% !important;
}

.btn{
    text-align: center !important;
}

/* Logout ---------------------------------------------------------------------------------  */

.leave{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 4px;
    border-radius: 12px;
}

.leave:hover{
    background-color: var(--background-primarier) !important;
}

.leave a{
    color: #FFF;
    font-size: 1.2rem;
    text-decoration: none;
}

.leave img{
    width: 28px !important;
}

.leave input{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 1.2rem
}

.leave .material-symbols-outlined{
    color: #fff !important;
    font-size: 15px !important;
}


/* Opcções --------------------------------------------------------------------------------- */
.align-content img{
    width: 60%;
}

.square-content--opcoes{
    text-align: center;
    padding: 5%;
}

.square-content--opcoes h2{
    color: var(--text-color);
    text-shadow: 1px 0.5px 2px var(--text-shadow-color);
    font-size: var(--size-h2);
}

.button-white-blue--opcoes{
    margin: 30px 0px auto;
    padding: 10px;
    width: 200px;
}


/* Menu ---------------------------------------------------------------------------- */
.square-content--menu{
    width: 85%;
    min-width: 350px;
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
}

@media(max-width: 770px){
    .square-content--menu{
        width: 350px;
    }
}

.item-circle{
    border-radius: 50%;
    background-color: #FFE500;
    text-align: center;
}

@media(max-width: 770px){
    .square-content--menu-item{
        width: 200px;
    }
}

.square-content--menu-item{
    width: 240px;
    min-width: 200px;
    margin: 30px 20px;
    min-height: 150px;
    padding: 15px;
}

.square-content--menu-item h2{
    font-size: var(--size-card-title);
    margin: 25px 0;
}

.button-white-blue--menu-item{
    background-color: var(--background-almost-white);
    min-width: 100px;
    margin: 0 auto;
}


/* Users --------------------------------------------------------------------------- */

/* Identificação --------------- */
.usuario{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px;
    text-decoration: none;
    text-align: center;
    padding: 2px;
    border-radius: 12px;
}

.usuario:hover{
    background-color: var(--background-primarier) !important;
}

.usuario p{
    color: #fff;
    margin-top: 13px;
}

.usuario .material-symbols-outlined{
    color: #fff !important;
    font-size: 1.9rem !important;
    margin-left: 10px;
    margin-top: 13px !important;
}

/* Index ----------------------- */
.hide{
    display: none;
}

.show{
    display: block;
}

.user-index{
    display: block;
    width: 100%;
}

.user-index h1{
    color: var(--background-color);
    margin: 10vh 0;
}

.item-circle--user{
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.button-white-blue--menu-item-user{
    width: 50%;
    height: 25px;
}

/* Grids */
.row{
    margin: 5px 0;
}

.row p{
    margin: 0;
}

.row-hover:hover{
    background-color: var(--background-almost-white);
}

.row-title{
    margin-bottom: 15px;
}

.col{
    width: 14.2%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.col-title{
    color: var(--text-color);
    font-weight: 700;
    text-transform: capitalize;
    font-size: var(--size-grid);
}

.col-text{
    color: var(--text-color);
    text-transform: capitalize;
    font-size: var(--size-grid);
}

.col-text img{
    width: 20px;
}

.col-mail{
    color: var(--text-color);
    text-transform: lowercase;
    font-size: var(--size-grid);
}

/* List-editar --------------- */
.grid-list a{
    text-decoration: none;
}

.grid-list .material-symbols-outlined{
    font-size: var(--size-label-form) !important;
}

/* List-excluir -------------- */
.content-list-excluir button{
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
}

.square-content--confirma-excluir{
    width: 50%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
    align-content: center;
    border: 0 !important;
    z-index: 1000;
}

#modal_excluir{
    display: none;
}

dialog::backdrop{
    background-color: #35353559;
}

.square-content--confirma-excluir button, .square-content--confirma-excluir a{
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

.square-content--confirma-excluir #btn_execute{
    background-color: var(--background-error);
}

.square-content--confirma-excluir #btn_execute:hover{
    background-color: var(--background-errorer);
}

.square-content--confirma-excluir .material-symbols-outlined{
    color: var(--background-error) !important;
    font-size: 2.5rem !important;
}

.square-content--confirma-excluir #btn_cancelar{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--background-primary);
}

.square-content--confirma-excluir #btn_cancelar:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: var(--background-primarier);
}

.buttons-dialog{
    width: 100%;
}

.p-dialog{
    width: 100%;
}

/* List-desativar --------------------- */
.row-activated p{
    color: var(--text-color);
}

.row-inactivated p{
    color: var(--text-shadow-color);
}


/* Pacientes ---------------------------------------------------------------------------- */

/* Paginação ----------------------- */
.pagination-container {
    margin: 0 auto;
}

.pagination-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page1 {
    display: flex;
}
.prev-btn, .next-btn{
    cursor: pointer;
    border: none !important;
    margin: 20px !important;
}

.btn:disabled{
    border: none !important;
}
  

/* Menu ------------------------- */

/* Configurações */
/* @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap'); */

.btn-user-name {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-user-name:hover {
  transition: 1s ease-in-out;
  background: var(--background-primarier);
}

.btn-user-name:hover svg {
  stroke-dashoffset: -480;
}

.btn-user-name span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* Conteúdo */
.square-content--menu-item{
    width: 240px;
    min-width: 200px;
    margin: 30px 20px;
    min-height: 150px;
    padding: 15px;
}

.square-content--menu-item-p .material-symbols-outlined{
    font-size: 34px !important;
}

.square-content--menu-item img{
    width: 34px;
    margin-top: 5px;
}

.item-circle--paciente{
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.button-white-blue--menu-item-paciente{
    width: 80%;
}

/* Consulta ------------------------ */
.square-content--cadastro-consulta{
    padding: 0;
    width: 80%;
    margin: 80px auto;
}

/* Form ----------------------------- */
textarea{
    resize: none;
}

.btn-user-name_info .material-symbols-outlined{
    font-size: 20px !important;
}

/* Borda dos inputs alinhados horizontalmente */
.input-border{
    border-right: 2px dotted var(--text-shadow-color);
}

/* Divs dos formulários alinhadas */
.input-translate{
    transform: translatey(24%);
}

.input-translate-less{
    transform: translatey(-24%);
}

/* Menu lateral */
.menu_consulta{
    background-color: var(--background-color);
    height: 500px;
    width: 20%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    float: left;
    display: grid;
}

.menu_img img{
    width: 120px;
    margin: 50px 21%;
}

.menu-sections{
    margin: 0 auto;
    width: 200px;
    height: 95%;
    margin-bottom: 20px;
    overflow-y: auto;
    border: 1px solid rgb(190, 190, 190);
}

.menu-sections a{
    background-color: var(--background-primary);
    color: black;
    display: flex;
    padding: 7px 0;
    text-decoration: none;
    margin: 0px 0px 2px 0px;
}

.menu-sections p{
    font-size: var(--size-card-title);
    color: var(--background-color);
    text-transform: capitalize;
    margin: 0;
}

.menu-sections .material-symbols-outlined{
    font-size: var(--size-label-form) !important;
    color: var(--background-color);
    margin: 5px !important;
}

.menu-sections a:hover {
    background-color: #ccc;
}

.menu-sections a.active {
    background-color: var(--background-most-primary);
    color: white;
}

.menu-sections::-webkit-scrollbar {
    width: 7px;
}

.menu-sections::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.menu-sections::-webkit-scrollbar-thumb {
    background: #888;
}

.menu-sections::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Conteúdo */
.content-consulta{
    background-color: var(--background-almost-white);
    min-height: 500px;
    width: 80%;
    float: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Botões menu */
.btn_paciente a{
    width: 20%;
    margin: 0 10%;
}

/* Medicamentos ---------------------------- */
.square-content--medicamentos{
    width: 80%;
}

.square-content--medicamento_item{
    width: 33.33%;
    cursor: pointer;
}

.span-dialog{
    position: relative;
}

.show-dialog{
    position: absolute;
    top: 15%;
    right: -73px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px !important;
    color: gray;
}

#dialog_info{
    display: none;
}

/* Resetar Senha --------------- */

.button-white-blue-resetar{
    color: var(--background-primary);
    background-color: var(--background-color);
    /* box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    border: 1px solid var(--box-shadow-color); */
    border-radius: 8px;
    text-decoration: none;
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY( 70%); */
    /* display: block; */
}

.btn-primary-darker-resetar, .btn-primary-darker:hover{
    background-color: var(--background-primary);
    color: var(--background-color);
    box-shadow: 2px 2px 2px 1px var(--box-shadow-color);
    border: 1px solid var(--box-shadow-color);
    border-radius: 8px;
    text-decoration: none;
    -ms-transform: translateY(-50%);
    transform: translateY( 70%);
}


.centralizado{
    text-align: center; /* Centralizar o texto dentro da div */
    display: block; /* Colocar cada elemento em uma nova linha */
    margin: 0 auto; /* Centralizar horizontalmente usando margens */
    width: 50%;

}
.square-content--password h1{
    font-size: var(--size-title) !important;
    margin: 30px;
}
.square-content--password{
    width: 400px;
    margin-top: 145px;
    text-align: center;
}

.square-content--error p{
    font-size: var(--size-h1) !important;
}

.title-resetpassword-text{
    /* margin-top: 10px; */
    height: 83;
    width: 653;
}

.img_resetpassword{
    max-width: 100%;
    width: 300px !important;
    position: absolute;
    /* margin: 0 auto; */
    /* display: block; */
    right: 50px;
    top: 70px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#top-error{
    top: 50px !important;
}

#content-error{
    padding: 5% !important;
}

.text-error{
    margin: 35px !important;
}

.img_resetpassword2{
    max-width: 100%;
    width: 300px !important;
    position: absolute;
    /* margin: 0 auto; */
    /* display: block; */
    top: 145px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.text-muted-password {
    height: 83;
    margin: 0 auto;
    /* --bs-text-opacity: 1;
    color: var(--bs-secondary-color)!important; */
}

.p-password{
    margin-top: -25px;
    color:rgb(53, 52, 52)
}

.label-resetar{
    color: #474747;
    float: left; /* Faz o rótulo flutuar à esquerda */
  margin-right: 10px; /* Define uma margem direita para criar espaço entre o rótulo e o campo de entrada */
  line-height: 34px; /* Ajusta a altura de linha para alinhar verticalmente com o campo de entrada */
}
.input-text-resetar{
    color: #555;
    float: left; /* Faz o rótulo flutuar à esquerda */
  margin-right: 10px; /* Define uma margem direita para criar espaço entre o rótulo e o campo de entrada */
  line-height: 34px; /* Ajusta a altura de linha para alinhar verticalmente com o campo de entrada */
}

/* GUSTAVO */
.menucontainer{
    margin-top: 3%;
}
/* GUSTAVO */